In [46]:
import ast
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 

offers = pd.read_csv('C:/Users/ctsta/Desktop/cafe_rewards_offers/offers.csv')
offers.head()

,offer_id,offer_type,difficulty,reward,duration,channels
0,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10,10,7,"['email', 'mobile', 'social']"
1,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10,10,5,"['web', 'email', 'mobile', 'social']"
2,3f207df678b143eea3cee63160fa8bed,informational,0,0,4,"['web', 'email', 'mobile']"
3,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,5,5,7,"['web', 'email', 'mobile']"
4,0b1e1539f2cc45b7b9fa7c272da2e1d7,discount,20,5,10,"['web', 'email']"

In [50]:
offers.channels.unique()

array(["['email', 'mobile', 'social']",
       "['web', 'email', 'mobile', 'social']",
       "['web', 'email', 'mobile']", "['web', 'email']"], dtype=object)

In [47]:
offers['num_channels'] = offers.channels.apply(lambda x: len(ast.literal_eval(x)))
offers.head(10)

,offer_id,offer_type,difficulty,reward,duration,channels,num_channels
0,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10,10,7,"['email', 'mobile', 'social']",3
1,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10,10,5,"['web', 'email', 'mobile', 'social']",4
2,3f207df678b143eea3cee63160fa8bed,informational,0,0,4,"['web', 'email', 'mobile']",3
3,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,5,5,7,"['web', 'email', 'mobile']",3
4,0b1e1539f2cc45b7b9fa7c272da2e1d7,discount,20,5,10,"['web', 'email']",2
5,2298d6c36e964ae4a3e7e9706d1fb8c2,discount,7,3,7,"['web', 'email', 'mobile', 'social']",4
6,fafdcd668e3743c1bb461111dcafc2a4,discount,10,2,10,"['web', 'email', 'mobile', 'social']",4
7,5a8bc65990b245e5a138643cd4eb9837,informational,0,0,3,"['email', 'mobile', 'social']",3
8,f19421c1d4aa40978ebb69ca19b0e20d,bogo,5,5,5,"['web', 'email', 'mobile', 'social']",4
9,2906b810c7d4411798c6938adc9daaa5,discount,10,2,7,"['web', 'email', 'mobile']",3

# Convert String to List in Python Using ast.literal_eval()

In [48]:
# disclosure feature data type (string not a list)
a = offers['channels'][0]
a

"['email', 'mobile', 'social']"

In [1]:
import ast
a_string = '["apple", "orange", "watermelon"]'
a_list = ast.literal_eval(a_string)
print(a_list)

['apple', 'orange', 'watermelon']

In [52]:
offer2 = offers.copy()
offer2['channels'] = offer2.channels.apply(lambda x: ast.literal_eval(x))
offer2.head()

,offer_id,offer_type,difficulty,reward,duration,channels,num_channels
0,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10,10,7,"[email, mobile, social]",3
1,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10,10,5,"[web, email, mobile, social]",4
2,3f207df678b143eea3cee63160fa8bed,informational,0,0,4,"[web, email, mobile]",3
3,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,5,5,7,"[web, email, mobile]",3
4,0b1e1539f2cc45b7b9fa7c272da2e1d7,discount,20,5,10,"[web, email]",2